.gradle/
/local.properties
.idea/
gradle/
.DS_Store
/build
/captures
*/build/
.idea/**
.gradle/**
captures/**
build/**
local.properties
**/*.iml
**/*.orig
utils/scraper/node_modules
utils/scraper/npm-debug.log
utils/scraper/games*.json
utils/fonts/nbproject/*
**/*.hsprof
**/*.hprof
*.hsprof
*.hprof
